@charset "utf-8";

/*
overflow: auto; -webkit-overflow-scrolling: touch;
p {text-shadow: 2px 2px 2px #7c050a;}
p {box-shadow: 5px 5px 15px #323232;}

-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;

.ttg_list > li:hover .pic img {
-ms-transform: scale(1.1,1.1); IE 9
-webkit-transform: scale(1.1,1.1); Safari
transform: scale(1.1,1.1); Standard syntax
}
숫자333333333, 영문kkkkkkkkkkkkkkkkk 넘침 제어
word-break: break-all;white-space: normal;
white-space:nowrap;overflow:hidden;text-overflow:ellipsis;

박스 라운딩
border-radius: 15px 50px 30px 5px;
border-radius: 15px 50px 30px;
border-radius: 15px 50px;
border-radius: 4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;

pre tag 문자 넘침
word-wrap: break-word;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;word-break:break-all;
*/

/* **** reset **** */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,canvas,details,embed,figure,figcaption,footer,header, hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video, input {margin:0; padding:0; border:0;}
div, section, header, footer, article, aside, canvas, hgroup,menu,nav, span, p, ul, li, dl, dt, dd, ol, a, input[type="text"], input[type="password"], input[type="tel"], input[type="number"], button, textarea, h1, h2, h3, h4, h5, h6 {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
a, a:visited {margin:0; padding:0; font-size:100%;text-decoration:none;color:black;}
a:hover {text-decoration:none;}
body{line-height:1;-webkit-text-size-adjust: none; -ms-text-size-adjust: none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
fieldset, img, abbr, acronym {border:0 none;}
ol, ul { list-style:none; }
caption {visibility:hidden; font-size:0px; width:1px; height:1px; line-height:0;border:0;margin: 0;padding: 0;border:0;}
table.type1 {border-collapse: separate; border-spacing:0; border:0 none;margin: 0;padding: 0;border:0;}
table.type1 > thead,table.type1 > tbody,table.type1 > tfoot,table.type1 > thead > tr,table.type1 > thead > th,table.type1 > thead > td,table.type1 > tbody > tr,table.type1 > tbody > th,table.type1 > tbody > td,table.type1 > tfoot > tr,table.type1 > tfoot > th,table.type1 > tfoot > td {margin: 0;padding: 0;border:0;}
address {font-weight:normal; font-style:normal;}
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote,q { quotes:"" ""; }
hr { display:none; }
.clearfix {/*overflow:auto;zoom:1;display: inline-block; */}
.clearfix:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
input, select {vertical-align:middle;}
textarea {overflow: auto; vertical-align:top;}
img {vertical-align:top; border: 0 none; -ms-interpolation-mode: bicubic;}
mark {background-color:#ff9;color:#000; font-style:italic; font-weight:bold;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display: block }
audio,canvas, video {display: inline-block; /**display: inline;  *zoom: 1;*/}
nav ul {list-style:none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0 none;padding: 0;margin:0;}
button {padding: 0;margin: 0;border:none;background:none;outline:none;cursor:pointer;overflow:visible;vertical-align:middle;}
button[disabled], input[disabled], select[disabled], textarea[disabled] {cursor: default;background: #eee !important;}
input[readonly], select[readonly], textarea[readonly] {cursor: default;background:#f5f5f5 !important;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0; /**height:13px; *width: 13px; ie7용*/}
svg:not(:root) {overflow: hidden;}

[hidden] {display: none;}

/*플레이스 홀더 폰트 컬러*/
/* ::-webkit-input-placeholder { Chrome/Opera/Safaricolor: #999;}
::-moz-placeholder { Firefox 19+color: #999;}
:-ms-input-placeholder { IE 10+color: #999;}
:-moz-placeholder { Firefox 18-color: #999;} */

/* **** common **** */
/* font */
/* noto sans 본고딕 */
/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*
font-weight: 100; NotoSansKR-Thin
font-weight: 300; NotoSansKR-Light
font-weight: 400; NotoSansKR-Regular
font-weight: 500; NotoSansKR-Medium
font-weight: 700; NotoSansKR-Bold
font-weight: 900; NotoSansKR-Black
*/
@font-face{
	font-family: NanumGothic;
	src: url(/wp-content/themes/masonry/fonts/NanumGothic.eot);
	src: local('※'), url(/wp-content/themes/masonry/fonts/NanumGothic.woff) format('woff');
	font-style: normal;
	font-weight: normal;
}
html, body {width:100%; height:100%;line-height: 1.2;font-size:14px;font-family:'Noto Sans KR', Noto Sans KR, "나눔고딕", NanumGothic, AppleSDGothicNeo-Light, "맑은고딕", "Malgun Gothic", malgun, "돋움", Dotum, "굴림", Gulim, Helvetica, Arial, HelveticaNeue-Light, sans-serif-light, AppleGothic, sans-serif;font-weight: 400;-webkit-text-size-adjust: none; -ms-text-size-adjust: none;color: #353636;}

.alert-brw-update {position:absolute; top:0; left:0;width:100%;padding: 20px 0;z-index:1040;border-bottom:1px #e1e1e1 solid;display: none;}
.alert-brw-update .bg {position:absolute; top:0; left:0;width:100%;height: 100%;background: #000;opacity: 0.8;*filter: alpha(opacity=80);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";z-index: 1050;}
.alert-brw-update .update_cts {position: relative;z-index: 1060;font-size: 15px;color:#fff;text-align: center;line-height: 1.4;}
.alert-brw-update .update_cts a {color:#ff3000;font-size: 20px;text-decoration: underline;}
.alert-brw-update .btn-update-close {position: absolute;bottom: 0;right: 0;font-size: 40px;color: #fff;z-index: 1060;}
.alert-brw-update .hid_check {position: relative;padding: 10px 0;text-align: center;font-size: 13px;}
.alert-brw-update .hid_check label {line-height: 1.1;}

/* 컨텐츠바로가기 */
#accessibility {width:100%; position:relative; top:-4px; left:0; z-index:1000;}
#accessibility ul li,
#accessibility p {width:100%; position:absolute; top:-1px; left:0;}
#accessibility a,
#accessibility a:link {margin:0 0 -1px 0; width:100%; height:1px; font-size:1em; display:block; overflow:hidden;text-decoration:none;}
#accessibility a:active,
#accessibility a:focus,
#accessibility a:hover {padding:23px 0 36px 0; width:100%;font-weight:bold; color:#fff; text-align:center; background:#000; float:left; clear:left;}

/*hide_class*/
.hid {font-size:0; line-height:0; width:1px; height:1px; overflow:hidden; position:absolute; border: 0;margin: -1px; padding: 0;}

/* 텍스트 정렬 */
.tac {text-align:center !important;}
.tal {text-align:left !important;}
.tar {text-align:right !important;}
.vat {vertical-align: top !important;}
.vam {vertical-align: middle !important;}

/*폰트 사이즈*/
.fs11 {font-size: 11px !important;line-height: 1.2;}
.fs12 {font-size: 12px !important;line-height: 1.2;}
.fs13 {font-size: 13px !important;line-height: 1.2;}
.fs14 {font-size: 14px !important;line-height: 1.2;}
.fs15 {font-size: 15px !important;line-height: 1.2;}
.fs16 {font-size: 16px !important;line-height: 1.2;}
.fs16 {font-size: 16px !important;line-height: 1.2;}
.fs17 {font-size: 17px !important;line-height: 1.2;}
.fs17 {font-size: 17px !important;line-height: 1.2;}
.fs18 {font-size: 18px !important;line-height: 1.2;}

/* bold */
.b {font-weight:600 !important;}

/* 포인트 컬러 */
.fc_red {color:#B20000 !important;}
.fc_blue {color:#022D99 !important;}
.fc_gr {color:#777 !important;}
.fc_bk1 {color:#353636 !important;}
.fc_org1 {color:#ff5852 !important;}

/* float */
.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none !important;}
.cl {clear:both !important;}

/*display*/
.dpb {display: block !important;}
.dpib {display: inline-block !important;}
.dpi {display: inline !important;}

/* margin */
.m0 {margin:0 !important;}
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt70 {margin-top:70px !important;}

.mr0 {margin-right:0 !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}

.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb80 {margin-bottom:80px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}

/* padding */
.p0 {padding:0 !important;}
.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}

.pr0 {padding-right:0 !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}

.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}

/* border */
.bdtn {border-top:none !important;}
.bbn {border-bottom:none !important;}
.bln {border-left:none !important;}
.brn {border-right:none !important;}

/* 라인 */
.line01 {clear:both;width:100%;border-bottom:1px #e2e2e2 solid;}

/* 인풋 */
input.ip01 {padding: 0 10px;background: #ededed;border:1px #bababa solid;height:34px;line-height:34px;font-family:'Noto Sans KR', Noto Sans KR, "맑은고딕", "Malgun Gothic", malgun;font-size:14px;color:#333;/*border-radius:0px 0px; 모바일 라운드 삭제*//*-webkit-appearance:none; 폼요소 기본 스타일 삭제*/}
input.ip01.readonly1 {padding: 0 10px;background: #fff !important;border:1px #fff solid;}
input.ip02 {padding: 0 10px;background: #fff;border:1px #bababa solid;height:34px;line-height:34px;font-family:'Noto Sans KR', Noto Sans KR, "맑은고딕", "Malgun Gothic", malgun;font-size:14px;color:#333;}
input.ip_file {padding: 4px 5px;background: #fff;border:1px #bababa solid;font-family:'Noto Sans KR', Noto Sans KR, "맑은고딕", "Malgun Gothic", malgun;font-size:14px;color:#333;}
select.sel01 {border:1px #bababa solid;padding: 7px 0 6px 0;font-family:'Noto Sans KR', Noto Sans KR, "맑은고딕", "Malgun Gothic", malgun;font-size:14px;color:#333;}
body.ios select.sel01 {border:1px #bababa solid;height: 34px;line-height: 34px;/* padding: 9px 0 8px 0; */font-family:'Noto Sans KR', Noto Sans KR, "맑은고딕", "Malgun Gothic", malgun;font-size:14px;color:#333;}
textarea.txta01 {border:1px #bababa solid;padding:10px;font-family:'Noto Sans KR', Noto Sans KR, "맑은고딕", "Malgun Gothic", malgun;font-size:14px;color:#333;}

textarea[disabled],
input[disabled],
select[disabled] {background: #ddd;}

/*가로스크롤 박스*/
.hscr_box {position: relative;}
.hscr_box:after {display: block;content:" ";position: absolute;top: 0;right: 0;z-index: 50;width: 27px;height:100%;background: url(/wp-content/themes/masonry/images/hscr_ovl_white.png) repeat-y right 0;}
/* .hscr_box:after {display: block;content:" ";position: absolute;top: 0;right: 0;z-index: 50;width: 27px;height:100%;background: url(images/hscr_ovl_bk.png) repeat-y right 0;} */
.hscr_box .scr_area {position: relative;overflow: auto;-webkit-overflow-scrolling: touch;/* 스크롤 박스 */}
.hscr_box .scr_area > .cts {min-width:500px;  /* 실제로 보여질 컨텐츠 최소 사이즈 지정 */}

/* 버튼 */
.hgbtn {display:inline-block;vertical-align: middle;font-family:'Noto Sans KR', Noto Sans KR, "맑은고딕", "Malgun Gothic", malgun;border:0;border:none;outline:none;background:none;}

/* 버튼 컬러 */
.hgbtn.grey01 {height:34px;line-height:30px;padding: 0 15px;font-size: 14px;font-weight: 500;text-align: center;color: #fff !important;background-color: #353636;border-top:1px #353636 solid;border-left:1px #353636 solid;border-bottom:1px #353636 solid;border-right:1px #353636 solid;}
.hgbtn.grey02 {height:34px;line-height:30px;padding: 0 15px;font-size: 14px;font-weight: 500;text-align: center;color: #fff !important;background-color: #6c6c6c;border-top:1px #6c6c6c solid;border-left:1px #6c6c6c solid;border-bottom:1px #6c6c6c solid;border-right:1px #6c6c6c solid;}

.hgbtn.org01 {height:34px;line-height:30px;padding: 0 15px;font-size: 14px;font-weight: 500;text-align: center;color: #fff !important;background-color: #fe605a;border-top:1px #fe605a solid;border-left:1px #fe605a solid;border-bottom:1px #fe605a solid;border-right:1px #fe605a solid;}

.hgbtn.blue01 {height:30px;line-height:27px;padding: 0 15px;font-size: 14px;font-weight: 500;color: #fff !important;background-color: #3894d7;border-top:1px #63abe0 solid;border-left:1px #63abe0 solid;border-bottom:1px #2d78af solid;border-right:1px #2d78af solid;}

.hgbtn.blue02 {height:23px;line-height:23px;padding: 0 10px;font-size: 13px;font-weight: 500;color: #fff !important;background-color: #2a56bf;}

.hgbtn.red01 {height:30px;line-height:27px;padding: 0 15px;font-size: 14px;font-weight: 500;color: #fff !important;background-color: #e33a72;border-top:1px #e96692 solid;border-left:1px #e96692 solid;border-bottom:1px #b82f5d solid;border-right:1px #b82f5d solid;}

.hgbtn.red02 {height:23px;line-height:23px;padding: 0 10px;font-size: 13px;font-weight: 500;color: #fff !important;background-color: #ef2467;}

.hgbtn.grn01 {height:30px;line-height:27px;padding: 0 15px;font-size: 14px;font-weight: 500;color: #fff !important;background-color: #20a97e;border-top:1px #52bc9b solid;border-left:1px #52bc9b solid;border-bottom:1px #1a8966 solid;border-right:1px #1a8966 solid;}

/* 버튼 height 사이즈 */
.hgbtn.hsize38 {height:38px !important;line-height:39px !important;font-size:16px !important;}
.hgbtn.hsize48 {height:48px !important;line-height:39px !important;font-size:16px !important;}

/* 버튼 사이즈 */
.hgbtn.wsize1 {width: 175px;height:48px !important;line-height:43px !important;font-size:16px !important;}
.hgbtn.wsize2 {width: 375px;height:48px !important;line-height:43px !important;font-size:16px !important;}


.hgbtn.small {width: auto;height:34px !important;line-height:30px !important;font-size:13px !important;}

.hgbtn[disabled] {cursor: default;background: #ddd !important;border:1px #a0a0a0 solid;color: #888 !important;}

.hgbtn .ico_store {display: inline-block;padding: 0 0 0 50px;background: url(/wp-content/themes/masonry/images/ico_store.png) no-repeat 0 center;}
.hgbtn .ico_arl {display: inline-block;padding: 0 0 0 30px;background: url(/wp-content/themes/masonry/images/ico_arl.png) no-repeat 0 15px;}
.hgbtn .ico_arr {display: inline-block;padding: 0 30px 0 0px;background: url(/wp-content/themes/masonry/images/ico_arr.png) no-repeat right 15px;}

/* 리스트 */
.bl_triag_right li {position: relative;padding-left: 10px;margin: 5px 0;font-size: 14px;}
.bl_triag_right li:before {content:"";display: block;position: absolute;top: 5px;left:0;border-width:4px;border-color: transparent transparent transparent #5884d6;border-style: solid;}

.bl_rect li {position: relative;padding-left: 10px;margin: 5px 0;font-size: 14px;}
.bl_rect li:before {content:"";display: block;position: absolute;top: 6px;left:0;width: 4px;height: 4px;background: #000;}

.bl_circle li {position: relative;padding-left: 10px;margin: 5px 0;font-size: 14px;}
.bl_circle li:before {content:"";display: block;position: absolute;top: 6px;left:0;width: 4px;height: 4px;background: #00a5ff;border-radius: 50px;}

.bl_bar li {position: relative;padding-left: 10px;margin: 5px 0;font-size: 14px;}
.bl_bar li:before {content:"";display: block;position: absolute;top: 7px;left:0;width: 4px;height: 1px;background: #919090;color: #919090;}

/*인풋박스리스트*/
.ip_list1 {display: table;width: 100%;}
.ip_list1 > li {display: table-cell;margin: 2px 0;vertical-align: middle;}

.ip_dl_list1 {display: table;width: 100%;}
.ip_dl_list1 > dt,
.ip_dl_list1 > dd {display: table-cell;vertical-align: middle;}

/* iscroll basic */
.iscrBody {position: relative;overflow: hidden; /* height: 300px; 최소 height 값 지정 */}
.iscrCts {padding: 10px;
	position: absolute;z-index: 1;-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.ajax_loader {display: block;text-indent: -99999px;position:fixed;top: 0;left: 0;z-index: 500;width: 100%;height:100%;text-align:center;font-size:15px;color: #000;background: url(/wp-content/themes/masonry/images/loading.gif) no-repeat center center;display: none;}

/*css loading img*/
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {display: inline-block;background: none;position: fixed;z-index: 99999;top: 50%;left: 50%;width: 80px;height: 80px;margin: -40px 0 0 -40px;}
.uil-ring-css > div {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0 3px 0 0 #1f2c56;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}
@font-face {
	font-family:'icomoon';
	src:url(/wp-content/themes/masonry/fonts/icomoon.eot);
	src:url(/wp-content/themes/masonry/fonts/icomoon.eot?#iefix) format('embedded-opentype'),url(/wp-content/themes/masonry/fonts/icomoon.woff) format('woff'),url(/wp-content/themes/masonry/fonts/icomoon.ttf) format('truetype'),url(/wp-content/themes/masonry/fonts/icomoon.svg?#icomoon) format('svg');
	font-weight:normal;
	font-style:normal
}
[class^="fusion-icon-"],[class*=" fusion-icon-"] {
	font-family:'icomoon';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.fusion-icon-angle-down:before {content:"\f107"}
.fusion-icon-TFicon:before {content:"\e62d"}
.fusion-icon-bars:before {content:"\f0c9"}
.fusion-icon-angle-left:before {content:"\f104"}
.fusion-icon-search:before {content:"\f002"}
.fusion-icon-vk:before {content:"\f189"}
.fusion-icon-check-square-o:before {content:"\f046"}
.fusion-icon-check-circle-o:before {content:"\f05d"}
.fusion-icon-shopping-cart:before {content:"\f07a"}
.fusion-icon-angle-right:before {content:"\f105"}
.fusion-icon-angle-up:before {content:"\f106"}
.fusion-icon-spinner:before {content:"\f110"}
.fusion-icon-star:before {content:"\f005"}
.fusion-icon-gear:before {content:"\f013"}
.fusion-icon-star-o:before {content:"\f006"}
.fusion-icon-caret-left:before {content:"\f0d9"}
.fusion-icon-caret-right:before {content:"\f0da"}
.fusion-icon-grid:before {content:"\e614"}
.fusion-icon-pen:before {content:"\e600"}
.fusion-icon-film:before {content:"\e628"}
.fusion-icon-arrow-left:before {content:"\e61e"}
.fusion-icon-plus:before {content:"\e61d"}
.fusion-icon-minus:before {content:"\e61c"}
.fusion-icon-arrow-down:before {content:"\e61f"}
.fusion-icon-uniE620:before {content:"\e620"}
.fusion-icon-paypal:before {content:"\e60e"}
.fusion-icon-tumblr:before {content:"\e613"}
.fusion-icon-googleplus:before {content:"\e900"}
.fusion-icon-arrow-down2:before {content:"\e621"}
.fusion-icon-instagram:before {content:"\e615"}
.fusion-icon-forrst:before {content:"\e617"}
.fusion-icon-facebook:before {content:"\e604"}
.fusion-icon-flickr:before {content:"\e608"}
.fusion-icon-feed:before,.fusion-icon-rss:before {content:"\e606"}
.fusion-icon-twitter:before {content:"\e605"}
.fusion-icon-vimeo:before {content:"\e607"}
.fusion-icon-dribbble:before {content:"\e609"}
.fusion-icon-skype:before {content:"\e618"}
.fusion-icon-youtube:before {content:"\e622"}
.fusion-icon-blogger:before {content:"\e60b"}
.fusion-icon-link:before {content:"\e619"}
.fusion-icon-image:before {content:"\e624"}
.fusion-icon-images:before {content:"\e625"}
.fusion-icon-reddit:before {content:"\e60d"}
.fusion-icon-soundcloud:before {content:"\e60c"}
.fusion-icon-quotes-left:before {content:"\e627"}
.fusion-icon-bubbles:before {content:"\e62a"}
.fusion-icon-headphones:before {content:"\e629"}
.fusion-icon-deviantart:before {content:"\e626"}
.fusion-icon-digg:before {content:"\e610"}
.fusion-icon-mail:before {content:"\e616"}
.fusion-icon-dropbox:before {content:"\e611"}
.fusion-icon-linkedin:before {content:"\e60f"}
.fusion-icon-myspace:before {content:"\e603"}
.fusion-icon-pinterest:before {content:"\e602"}
.fusion-icon-yahoo:before {content:"\e601"}
.fusion-icon-list:before {content:"\e623"}
.fusion-icon-user2:before {content:"\e61b"}
.fusion-icon-user:before {content:"\e61a"}
.fusion-icon-xing:before {content:"\e4d8"}
.fusion-icon-xing2:before {content:"\e4d9"}

@media only screen and (min-width: 480px) {}
@media all and (min-width: 640px) {}

/*TABLET*/
@media all and (min-width: 768px) {}
@media all and (min-width: 768px) and (max-width:1023px) {}

/* 아이패드 미니 가로 */
@media all and (min-device-width : 768px) and (max-device-width : 1023px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)  {}

@media all and (min-width: 1024px) {
	.uil-ring-css {width: 160px;height: 160px;margin: -80px 0 0 -80px;}
	.uil-ring-css > div {width: 160px;height: 160px;border-radius: 80px;box-shadow: 0 6px 0 0 #1f2c56;}
}
@media all and (min-width: 1280px) {}

.page_list {line-height: 1.5;font-size: 16px;}
.page_list a:hover,
.page_list a:active,
.page_list a:focus {text-decoration: underline;}