@charset "utf-8";

body {background: #ededed;}
#wrap {position: relative;opacity: 0;min-width: 1120px;margin: 0 auto;}

/* header */
#header {position: relative;z-index: 120;background: #fff;}
#header .header_top {position: relative;padding: 10px 0;border-bottom:1px #e5e5e5 solid;}
#header .header_top > .inner {position: relative;width: 1100px;margin: 0 auto;}
#header .sns_list {position: relative;display: table;width: 140px;}
#header .sns_list > li {position: relative;display: table-cell;width: 25%;vertical-align: middle;text-align: center;}
#header .sns_list > li a {color: #bebdbd;}
#header .util_list {position: absolute;top: 2px;right: 0;font-size: 0;}
#header .util_list li {position: relative;display: inline-block;font-size: 14px;margin-left: 30px;}
#header .util_list li:first-child {margin-left: 0;}

/* footer */
#footer {position: relative;background: #000;min-width: 1100px;}
#footer  .rehoboth_footer_partnership {background: #000;padding:10px 6px;color: #ccc;text-align: center;font-size: 13px;}
#footer  .rehoboth_footer_partnership a {color: #ccc;}
#footer #footer_info {position: relative;background: #2e3031;padding: 35px 10px;}
#footer #footer_infobox {position: relative;display: table;width: 1100px;margin: 0 auto;}
#footer #footer_logo {position: relative;display: table-cell;vertical-align: middle;width: 150px;}
#footer address {position: relative;display: table-cell;vertical-align: middle;color: #999;line-height: 1.6;font-size: 13px;}
#footer #footer_tel_box {position: relative;display: table-cell;vertical-align: middle;width: 300px;color: #fff;line-height: 1.2;}
#footer #footer_tel_box dt {font-size: 13px;}
#footer #footer_tel_box dd {font-size: 55px;}

.copy_wrap {position: relative;padding: 25px 0;background: #282a2b;border-top:1px #4b4c4d solid;}
.copy_wrap .inner {position: relative;display: table;width: 1100px;margin: 0 auto;}
.copy_wrap .copyright {display: table-cell;color: #8C8989;}
.foot_sns_list a {color: #46494a;}
.foot_sns_list {position: relative;display: table;width: 140px;}
.foot_sns_list > li {position: relative;display: table-cell;width: 25%;vertical-align: middle;text-align: center;}


#gnb_wrap {position: relative;;line-height: 1.1;}
#gnb_wrap .logo {position: relative;z-index: 150;padding: 15px 0 20px 10px;}
#gnb_wrap > .inner {position: relative;width: 1100px;margin: 0 auto;}

#gnb {position: absolute;top: 38px;right: 0;z-index: 150}
#gnb:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
/*#gnb > li {position: relative;float: left;margin-left: 50px;}*/
#gnb > li {position: relative;float: left;margin-left: 50px; padding-right:30px;}
#gnb > li:first-child {margin-left: 0;}
#gnb > li > a {display: block;font-size: 18px;font-weight: 600;text-align: center;padding-bottom: 14px;color: #353636;
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
-ms-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
transition-duration: 0.2s;
}
#gnb > li:hover > a {color: #ff5852;border-bottom:4px #ff5852 solid;}

/* gnb dep2 */
#gnb .dep2 {position: absolute;top: 0px;left: 0;padding-top: 60px;display: none;}
#gnb .dep2 > li {margin-bottom: 15px;}
#gnb .dep2 > li > a {display: block;font-size: 14px;color: #313131;
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
-ms-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
transition-duration: 0.2s;
}
#gnb .dep2 > li:hover > a {color: #ff5852;}

.subm_bg {position: absolute;top: 0;left: 0;z-index: 100;width: 100%;min-height: 260px;border-bottom:1px #ff5852 solid;background: #fff;display: none;}

/* 컨텐츠 */
#container {position: relative;padding-top: 40px;padding-bottom: 100px;}
#contents {position: relative;}

/* 서브 본문 */
#sub_article {position: relative;width: 1100px;margin: 0 auto;}
#sub_article:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}

.wh_box {position: relative;margin-bottom: 50px;}
.wh_box > .inner {position: relative;padding: 70px 38px;background: #fff;}

.wh_box.member {padding: 0 22px;}
.wh_box.member_cc > .inner {padding: 50px 0;}

.ta_top_area {position: relative;margin-bottom: 10px;}
.ta_top_area:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
.ta_top_area .subj_tit1 {margin: 0;}

/* 게시판 뷰페이지 타이틀 */
.bd_view_tit {position: relative;padding: 20px;margin-bottom: 30px;background: #f5f4f4;}
.bd_view_tit .tit {position: relative;font-size: 22px;}

table.type1 {table-layout:fixed;border:1px #bababa solid;border-bottom: none;line-height: 1.4;vertical-align: middle;}
table.type1 > thead > tr > th {padding: 15px 5px;background: #f5f4f4;border-bottom:1px #bababa solid;font-size: 16px;vertical-align: middle;font-weight: 600;}
table.type1 > tbody > tr > th {padding: 15px 3%;background: #f5f4f4;border-bottom:1px #bababa solid;font-size: 16px;vertical-align: middle;font-weight: 600;}
table.type1 > tbody > tr > td {padding: 15px 3%;background: #fff;border-bottom:1px #bababa solid;font-size: 14px;vertical-align: middle;}

table.type1.list1 > thead > tr > th {padding: 10px 5px;background: #f5f4f4;border-bottom:none;font-size: 16px;text-align: center;font-weight: 600;}
table.type1.list1 > tbody > tr > th {padding: 10px 5px;background: #f5f4f4;border-bottom:none;font-size: 16px;text-align: center;font-weight: 600;}
table.type1.list1 > tbody > tr > td {padding: 10px 5px;background: #fff;font-size: 14px;text-align: center;}

table.type1.view1 > thead > tr > th {padding: 15px 10px;}
table.type1.view1 > tbody > tr > th {padding: 15px 10px;}
table.type1.view1 > tbody > tr > td {padding: 15px 10px;}
table.type1 td.bd_cts {padding: 30px 20px;color: #888;}

table .ta_stxt1 {font-size: 13px;color: #575757;}
table a.txt {display: block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width: 100%;vertical-align: middle;}
table .ico_check {display: inline-block;margin: 0 20px;vertical-align: middle;}
.radio_size14 {width: 15px;height: 15px;}

.ta_btn_area {position: relative;margin: 30px 0;text-align: center;}
.ta_btn_area:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}

/* 검색 박스 */
.sh_box1 {position: relative;padding: 15px 10px;margin-bottom: 30px;background: #f5f4f4;}
.sh_box1 th {padding: 0 10px;text-align: center;font-size: 16px;font-weight: 600;}
.sh_box1 td {text-align: left;color: #575757;}
.sh_box1 .btn_smit {width: 118px;margin-left: 5px;}

/* 게시판 검색 박스 */
.bd_sh_box {position: relative;padding: 20px;margin-bottom: 40px;background: #f5f4f4;}
.bd_sh_box:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
.bd_sh_box .ip_list1 {max-width: 620px;margin: 0 auto;}
.bd_sh_box .ip01 {background: #fff;}
.bd_sh_box .hgbtn {width: 100%;}

/* 페이징 */
.pagenate{clear:both;position:relative;padding:40px 0 20px 0;font-family: "나눔고딕", NanumGothic;}
.pagenate .page{text-align:center}
.pagenate .page a {display:inline-block;margin:0 1px;padding:7px 11px;border:1px solid #b7b7b7; color:#313131; font-size:14px;text-align:center;vertical-align:middle;}
.pagenate .page a:hover,
.pagenate .page a:active,
.pagenate .page a:focus,
.pagenate .page a.on {background: #313131;border-color: #313131;color:#fff;}
.pagenate .page a.page_btn  {padding:7px 0;width: 32px;}
