@charset "utf-8";

/* 팝업 레이아웃 */
/* 일반 페이지 팝업 */
.lypop.normal_pop {display: none;}

/* 고정형 */
.lypop {position: absolute;top: 0;left: 0;z-index: 600;background: #fff;}
.pop_ifrm_wrap {position: relative;}

/* 팝업 닫기 */
.btn_lypop_close {position: absolute;top: 10px;right:30px;z-index: 510;display: block;text-indent: -99999px;width: 29px;height: 29px;background: url(/wp-content/themes/masonry/images/btn_x_white.png) no-repeat 0 0;}

/* 반응형 */
/*
.lypop {position: absolute;top: 0;left: 0;z-index: 600;padding:0 2%;}
.pop_ifrm_wrap {position: relative;border:2px #000 solid;background: #fff;}
.btn_lypop_close {position: absolute;top: 0px;right: 2%;z-index: 510;}
*/

/* 팝업 컨텐츠 */
.pop_wrap {position: relative;}
.pop_wrap .pop_article {position: relative;padding: 35px;}
.pop_tit_area {position: relative;padding: 15px 34px;background: #ff5852;color: #fff;line-height: 1.4;}
.pop_tit_area .pop_tit1 {color: #fff;}

/* 팝업 컨텐츠 type2 */
.lypop.type2 .pop_wrap {position: relative;}
.lypop.type2 .pop_wrap .pop_article {}
.lypop.type2 .pop_tit_area {background: #353636;}

/* 팝업 컨텐츠 얼럿창 */
.lypop.pop_alert .pop_wrap {position: relative;}
.lypop.pop_alert .pop_wrap .pop_article {padding: 12px;margin: 0px 15px 15px 15px;background: #f5f4f4;color: #6c6c6c;font-size: 14px;}
.lypop.pop_alert .pop_tit_area {position: relative;padding: 10px 15px;background: #fff;line-height: 1.4;color: #353636;}
.lypop.pop_alert .pop_tit_area .pop_tit1 {color: #353636;}
.lypop.pop_alert .pop_msg {}
.lypop.pop_alert .pop_cash_check {margin: 15px 0 40px 0;}
.lypop.pop_alert label {font-size: 12px;}
.lypop.pop_alert .btn_lypop_close {top: 10px;right:15px;width: 14px;height: 14px;background: url(/wp-content/themes/masonry/images/btn_x_gray.png) no-repeat 0 0;}

/* 포인트 나눠주기 */
.pop_point_share {}
.pop_point_share .ps_top  {text-align: center;}
.pop_point_share .ps_top .txt1 {margin:25px 0 20px 0;font-size: 24px;}
.pop_point_share .point_info {display: table;width: 100%;border:1px #d7d7d7 solid;line-height: 1.3;}
.pop_point_share .point_info dl {display: table-cell;padding: 13px 25px;border-left:1px #d7d7d7 solid;}
.pop_point_share .point_info dl:first-child {border-left: none;}
.pop_point_share .point_info dl dt {font-size: 24px;margin-bottom: 10px;padding-bottom: 5px;border-bottom:1px #d7d7d7 solid;}
.pop_point_share .point_info dl dd {margin: 4px 0;}
.pop_point_share .point_info dl .n {font-size: 14px;color: #575757;}
.pop_point_share .point_info dl .txt_before,
.pop_point_share .point_info dl .txt_after {display: inline-block;width: 100px;font-size: 16px;padding: 0 15px;}
.pop_point_share .point_info dl .txt_before {color: #353636;}
.pop_point_share .point_info dl .txt_after {color: #ff5852;}
.pop_point_share .point_info dl.my_point {text-align: right;}

.point_setting {position: relative;padding:75px 0 45px 0;margin-top: 23px;background: #f5f4f4;}
.point_setting .btn_minus,
.point_setting .btn_plus {display: block;position: absolute;top: 40px;width: 90px;height: 90px;text-indent: -99999px;border:1px #b7b7b7 dashed;border-width: 3px;border-radius: 50%;color: #b7b7b7;font-size: 57px;}
.point_setting .btn_minus {left: 65px;background: url(/wp-content/themes/masonry/images/btn_minus.png) no-repeat center center;}
.point_setting .btn_plus {right: 65px;background: url(/wp-content/themes/masonry/images/btn_plus.png) no-repeat center center;}
.point_bar {position: relative;overflow: hidden;width: 418px;margin: 0 auto;height: 24px;background: #353636;}
.point_bar > .bar {position: relative;height: 100%;width: 50%;background: #ff5852;}
.point_num {position: relative;width: 438px;margin: 0 auto;margin-top: 10px;display: table;}
.point_num > span {display: table-cell;width: 33.3333%;text-align: center;}
.point_num > span.fir {text-align: left;}
.point_num > span.last {text-align: right;}

/* 회언이용약관 */
.pop_agreement .agr_txt_box {padding: 25px;background: #f5f4f4;color: #6c6c6c;overflow-x: hidden;overflow-y: auto;max-height: 500px;font-size: 13px;line-height: 1.4;}
.pop_agreement .agr_txt_box .btit {margin: 50px 0 10px 0;font-size: 18px;font-weight: 500;color: #353636;}
.pop_agreement .agr_txt_box .btit:first-child {margin-top: 0;}
.pop_agreement .agr_txt_box .stit {margin: 0 0 10px 0;font-size: 15px;color: #353636;}

.pop_btn_area {position: relative;margin: 15px 0;text-align: center;}
.pop_btn_area:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}