@charset "utf-8";
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cycle-slideshow {position: relative;width: 400px;}
.cycle-slideshow .cycle-slide {width: 400px;}
.cycle-slideshow .cycle-slide img {width: 100%; height: auto;}
.cycle-slideshow .cycle-slide-active {}

/* pager */
.cycle-pager {text-align: center; width: 100%;overflow: hidden;background:none;font-size: 0;margin-top: 20px;}
.cycle-pager span {text-indent: -99999px;display: inline-block;font-family: arial; font-size: 10px; width: 13px; height: 14px;margin:0 4px;cursor: pointer;background: #3e3e3e;
border-radius: 50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;
-ms-border-radius:50%;
-o-border-radius:50%;
}
.cycle-pager span.cycle-pager-active { background: #f8b62c;}
.cycle-pager > * { cursor: pointer;}

/* prev / next links */
.cycle-prev, .cycle-next {display: block;text-indent: -9999px;position: absolute;top: 50%;margin-top: -45px;z-index: 500;cursor: pointer;width: 44px;height: 89px;}
.cycle-prev { left: 0;background: url(/wp-content/themes/masonry/images/btn_prev1.png) no-repeat 0 0;}
.cycle-next { right: 0;background: url(/wp-content/themes/masonry/images/btn_next1.png) no-repeat 0 0;}

/* 메인 비쥬얼 */
#visual {position: relative;background: url(/wp-content/themes/masonry/images/main_visual_bg.jpg) repeat-x center 0;padding: 50px 0 45px 0;}
#visual > .inner {position: relative;width: 1100px;margin: 0 auto;}
.main_visual.cycle-slideshow {position: relative;width: 1040px;margin: 0 auto;}
.main_visual.cycle-slideshow .cycle-slide {width: 100%;}
.main_visual.cycle-slideshow .cycle-slide img {width: 100%; height: auto;}

/* 메인 컨텐츠 */
#main_contents {clear: both;position: relative;}
#main_contents > .inner {position: relative;width: 1100px;margin: 0 auto;padding-top: 38px;}
#main_contents .store_dir {margin: 0 0 34px 0;text-align: center;}
#main_contents .store_dir .hgbtn {width: 375px;height: 60px;line-height: 60px;font-size: 18px;}

/* 상품 리스트 */
.prd_list {position: relative;}
.prd_list ul {position: relative;font-size: 0;}
.prd_list ul > li {position: relative;display: inline-block;max-width:540px;margin: 10px 5px;font-size: 13px;}
.prd_list .pic {position: relative;max-width:540px;height: 335px;overflow: hidden;}
.prd_list .pic img {opacity: 0.8;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-ms-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;}
.prd_list .pic:hover img {opacity: 1;-ms-transform: scale(1.1,1.1);-webkit-transform: scale(1.1,1.1);transform: scale(1.1,1.1);}

.prd_list .prd_info {position: relative;padding: 20px 30px;background: #fff;}
.prd_list .prd_info .tit {font-size: 20px;font-weight: 600;color: #232323;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.prd_list .prd_info .tit a {color: #232323;}
.prd_list .prd_info .txt {margin: 15px 0 20px 0;font-size: 13px;color: #afafaf;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.prd_list .prd_info .txt a {color: #afafaf;}
.prd_list .prd_info .price {font-size: 18px;color: #232323;}
.prd_list .prd_info .price a {color: #232323;}
.prd_list .prd_info .price .big_txt {font-size: 35px;color: #fb7d57;}
.prd_list .prd_info .price .big_txt a {color: #fb7d57;}

/* 메인 상품 리스트 161220 수정 */
#main_prd_list {}
#main_prd_list.prd_list ul > li {position: relative;display: inline-block;max-width:356px;}
#main_prd_list.prd_list .pic {position: relative;max-width:356px;height: 335px;overflow: hidden;}

/* 서비스 안내 */
#service_info {clear: both;position: relative;background: #fff;padding: 23px 0 50px 0;margin-top: 65px;}
#service_info > .inner {position: relative;width: 1100px;margin: 0 auto;display: table;}
#service_info > .inner > section {position: relative;display: table-cell;vertical-align: top;}
#service_info h3.tit {margin-bottom: 22px;font-size: 22px;color: #1e1e1e;font-weight: 500;}

#service_info > .inner > .section1 {width: 526px;}

#service_info .svc_list {font-size: 0;}
#service_info .svc_list > li {display: inline-block;margin-left: 30px;font-size: 14px;color: #616060;text-align: center;}
#service_info .svc_list > li:first-child {margin-left: 0;}
#service_info .svc_list > li span {display: block;margin-bottom: 10px;text-align: center;}
#service_info .svc_list > li a {color: #616060;}

#service_info .svc_list2 {font-size: 14px;}
#service_info .svc_list2 > li {font-size: 14px;}
#service_info .svc_list2 > li a {position: relative;display: block;padding: 14px 0 14px 38px;color: #1e1e1e;border-bottom:1px #e1e1e2 solid;}
#service_info .svc_list2 > li a:after {content:">";display: block;position: absolute;top: 50%;right: 15px;margin-top: -8px;color: #f25054;font-weight: 600;font-size: 18px;}

/* 메인 이용안내 박스 */
#service_info .main_use_info {max-width:305px;padding: 22px 10px 16px 16px;border:1px #c4c4c5 solid;background: url(/wp-content/themes/masonry/images/main_use_info_pic.jpg) no-repeat 95% 62px;}
#service_info .main_use_info .txt {margin-bottom: 10px;font-size: 13px;color: #afafaf;line-height: 1.4;}
#service_info .main_use_info .hgbtn {padding: 0;width: 119px;height: 30px;line-height: 27px;font-size: 13px;letter-spacing: -1px;}

/* 타이틀 */
.page_tit_area {position: relative;margin-bottom: 34px;padding-bottom: 12px;border-bottom:1px #5e5e5e solid;}
.page_tit_area:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
.page_tit_area .sub_tit1 {position: relative;font-size: 35px;color: #353636;font-weight: 400;}

.subj_tit1 {position: relative;margin-bottom: 20px;font-size: 24px;color: #353636;}
.subj_txt1 {position: relative;margin-bottom: 20px;font-size:14px;color: #919090;line-height: 1.4;}

/* login */
.login_wrap {position: relative;padding: 90px 0 300px 0;background: url(/wp-content/themes/masonry/images/bg_login.png) no-repeat 20px 0;}
.login_wrap .login_box {position: relative;width: 442px;margin: 0 auto;}
.login_wrap .login_tab {position: relative;}
.login_wrap .login_tab:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
.login_wrap .login_tab a {display: block;float: left;width: 50%;padding: 15px 5px;text-align: center;font-size: 20px;color: #fff;background: #313131;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.login_wrap .login_tab a.on {background: #ff5852;}
.login_wrap .login_tab_cts {position: relative;background: #fff;padding: 50px;}
.login_line {clear: both;width: 95%;margin: 0 auto;height: 10px;background: #535353;}

.login_wrap .login_fm > ul > li {margin-top: 18px;padding: 0 0 0 54px;background-color: #ededed;border:1px #bababa solid;background-repeat: no-repeat;background-position: 16px center;}
.login_wrap .login_fm > ul > li.login_id {background-image:url(/wp-content/themes/masonry/images/ico_login_id.png);}
.login_wrap .login_fm > ul > li.login_pw {background-image:url(/wp-content/themes/masonry/images/ico_login_pw.png);margin-bottom: 10px;}
.login_wrap .login_fm > ul > li:first-child {margin-top: 0;}
.login_wrap .login_fm > ul > li .ip01 {height:47px;line-height:47px;width: 100%;font-size:14px;color:#333;border:none;background: none;}
.login_wrap .login_fm .txt1 {font-size: 13px;color: #575757;}
.login_wrap .login_fm .btn_smit {width: 100%;height: 62px;line-height: 62px;text-align: center;font-size: 21px;margin-top: 28px;}
.login_wrap .login_fm .btn_smit > span {display: inline-block;padding-left: 32px;background: url(/wp-content/themes/masonry/images/ico_in.png) no-repeat 0 center;}
.login_wrap .login_check {margin: 10px 0;padding: 0 10px;text-align: right;font-size: 12px;color: #575757;}

.login_type {clear: both;position: relative;width: 100%;margin: 50px 0 0 0;font-size: 0;text-align: center;}
.login_type a {display: inline-block;margin-left: 8px;font-size: 12px;}
.login_type a:first-child {margin-left: 0;}

/* 본인인증 */
.certification_wrap {position: relative;}
.certification_wrap .cc_top {position: relative;text-align: center;font-size: 22px;}
.certification_wrap .cc_top p {margin: 30px 0 50px 0;}

/* 회원가입 */
.join_agr_box {position: relative;font-size: 16px;text-align: center;margin: 60px 0;}
.join_agr_box input[type=checkbox] {width: 18px;height: 18px;}

.join_result_top {position: relative;text-align: center;font-size: 22px;}
.join_result_top p.txt1 {margin: 30px 0 10px 0;}
.join_result_top p.txt2 {font-size: 13px;color: #919090;line-height: 1.7;}
.join_result_top p.id_box {padding: 22px 0;margin-top: 30px;width: 475px;display: inline-block;font-size: 16px;background: #f5f4f4;}

/* 멤버쉽 본인인증 */
.join_cc {position: relative;text-align: center;}
.join_cc p.tit {margin-bottom: 20px;font-size: 24px;}
.join_cc p.tit > span {display: inline-block;padding-top: 6px;margin-left: 10px;}
.join_cc p.txt1 {font-size: 16px;color: #919090;line-height: 1.4;}

.txt_box1 {position: relative;padding: 20px;margin: 10px 0;background: #f5f4f4;text-align: center;}
.txt_box1 .txt1 {font-size: 14px;color: #919090;}

/* 회원정보수정 본인인증 */
.cc_area {color: #919090;text-align: center;line-height: 1.4;border-left: 1px #bababa solid;}
.cc_area p {font-size: 13px;}
.cc_area .hgbtn {margin-top: 10px;}

/* 컷라인 */
.cut_line {position: relative;margin-bottom: 25px;border-bottom:1px #353636 dashed;border-width: 3px;}
.cut_line .ico_cut {position: absolute;top: -16px;right: 0;background: #fff;}

/* 유의사항 */
.caution_wrap1 {position: relative;}
.caution_wrap1 .tit {font-size: 16px;margin-bottom: 10px;}
.caution_wrap1 .caution_list {display: table;width: 100%;padding: 15px 0;margin-bottom: 10px;background: #f5f4f4;}
.caution_wrap1 .caution_list dt {display: table-cell;padding: 0 20px;font-size: 16px;font-weight: 600;vertical-align: middle;text-align: center;}
.caution_wrap1 .caution_list dd {display: table-cell;font-size: 14px;color: #919090;vertical-align: middle;}
.caution_wrap1 .txt1 {font-size: 13px;color: #919090;}

/* 마이 포인트 */
.mypoint_result {position: relative;padding: 0;}
.mypoint_result .inner {position: relative;padding: 40px;text-align: center;font-size: 24px;}
.mypoint_result .pic {margin-bottom: 35px;}
.mypoint_result .txt_point {display: inline-block;}

/* FAQ */
.faq_tab {position: relative;margin-bottom: 10px;}
.faq_tab:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
.faq_tab > ul > li {float: left;margin-left: 1px;}
.faq_tab > ul > li:first-child {margin-left: 0;}
.faq_tab > ul > li > a {display: block;font-size: 16px;font-weight: 600;color: #fff;padding: 15px 25px;text-align: center;}
.faq_tab > ul > li.color1 > a {background: #ff5852;}
.faq_tab > ul > li.color2 > a {background: #42c0b6;}
.faq_tab > ul > li.color3 > a {background: #4e88c7;}
.faq_tab > ul > li.color4 > a {background: #fcb040;}
.faq_tab > ul > li.color5 > a {background: #262262;}

table.faq_fable {table-layout:fixed;border:1px #bababa solid;border-bottom: none;line-height: 1.4;vertical-align: middle;}
table.faq_fable > thead > tr > th {padding: 15px 5px;background: #f5f4f4;border-bottom:none;font-size: 16px;vertical-align: middle;font-weight: 600;text-align: center;}
table.faq_fable > tbody > tr > th {padding: 15px 10px;background: #f5f4f4;border-bottom:1px #bababa solid;font-size: 16px;vertical-align: middle;font-weight: 600;text-align: center;}
table.faq_fable > tbody > tr > td {padding: 15px 10px;background: #fff;border-bottom:1px #bababa solid;font-size: 14px;vertical-align: middle;text-align: center;}
table.faq_fable tr.a {display: none;}
table.faq_fable tr.a > td {padding: 15px 10px;background: #f5f4f4;text-align: left;}
table.faq_fable tr.a > td .a_tit {font-size: 35px;color: #ff5852;font-weight: 500;}
table.faq_fable tr.a > td .a_cts {font-size: 14px;color: #888;}

/* qna_box */
.qna_box {clear: both;position: relative;padding-bottom: 80px;}
.qna_box .qbox {position: relative;margin-bottom: 30px;}
.qna_box .abox {clear: both;position: relative;width: 100%;}
.qna_box .abox_line {font-size: 21px;color: #353636;}
.qna_box .abox_line:after {content:"";display: block;width: 100%;position: absolute;top: 15px;left: 0;border-bottom:1px #353636 dashed;border-width: 2px;}
.qna_box .abox_line > span.txt {position: relative;z-index: 10;display: inline-block;background: #fff;}
.qna_box .abox_line > span.txt > span {color: #ff5852;font-weight: 500;}
.qna_box .atxt_box {line-height: 1.5;padding-left: 120px;}

/* store */
.store_prd_list {position: relative;}

/* 소팅 박스 */
.sort_box {position: relative;padding-bottom: 10px;border-bottom:1px #5e5e5e solid;}
.sort_box:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
.sort_box .ip_list1 > li {padding-left: 5px;}
.sort_box .ip_list1 > li select,
.sort_box .ip_list1 > li input[type="text"],
.sort_box .ip_list1 > li input[type="number"] {width: 100%;}
.sort_box .ip_list1 > li:first-child {padding-left: 0px;}

.sort_box .ip_dl_list1 > dt {font-weight: 600;padding: 0 4px;}
.sort_box .ip_dl_list1 > dd {padding-left: 5px;}
.sort_box .ip_dl_list1 > dd select,
.sort_box .ip_dl_list1 > dd input[type="text"],
.sort_box .ip_dl_list1 > dd input[type="number"] {width: 100%;}

/* 상품 디테일 */
.prd_detail_wrap {position: relative;padding-top: 40px;border-top:1px #5e5e5e solid;}
.prd_detail_wrap > .prd_detail_cts {position: relative;background: #fff;border:1px #e1e1e1 solid;}
.prd_detail_wrap .prd_btn_area {position: relative;margin: 40px 0 80px 0;text-align: center;}
.prd_detail_wrap .prd_btn_area:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}

/* 서비스 */
/* 포인트 충전 */
.pt_charge_wrap {position: relative;}
.pt_charge_wrap .top_tit {position: relative;padding-left: 45px;margin-bottom: 40px;background: url(/wp-content/themes/masonry/images/ico_point.png) no-repeat 0 0;background-size: 36px auto;}
.pt_charge_wrap .top_tit .tit {margin-bottom: 12px;font-size: 22px;color: #353636;font-weight: 500;}
.pt_charge_wrap .top_tit .txt1 {font-size: 14px;color: #575757;}

.point_charge_step {position: relative;padding: 25px 30px;margin-bottom: 80px;background: #f5f4f4;}
.point_charge_step ol {position: relative;display: table;width: 100%;}
.point_charge_step ol > li {position: relative;display: table-cell;padding-left: 45px;vertical-align: top;}
.point_charge_step ol > li:first-child {padding-left: 0;}

.point_charge_step div.step1 {padding-left: 70px;background: url(/wp-content/themes/masonry/images/ico_person2_off.png) no-repeat 0 0;}
.point_charge_step div.step2 {padding-left: 53px;background: url(/wp-content/themes/masonry/images/ico_doc2_off.png) no-repeat 0 0;}
.point_charge_step div.step3 {padding-left: 50px;background: url(/wp-content/themes/masonry/images/ico_pay_off.png) no-repeat 0 0;}
.point_charge_step div.step4 {padding-left: 70px;background: url(/wp-content/themes/masonry/images/ico_pig_off.png) no-repeat 0 0;}

.point_charge_step li.on div.step1 {background: url(/wp-content/themes/masonry/images/ico_person2_on.png) no-repeat 0 0;}
.point_charge_step li.on div.step2 {background: url(/wp-content/themes/masonry/images/ico_doc2_on.png) no-repeat 0 0;}
.point_charge_step li.on div.step3 {background: url(/wp-content/themes/masonry/images/ico_pay_on.png) no-repeat 0 0;}
.point_charge_step li.on div.step4 {background: url(/wp-content/themes/masonry/images/ico_pig_on.png) no-repeat 0 0;}

.point_charge_step ol > li .tit {padding-left: 10px;font-size: 22px;color: #bab9b9;font-weight: 400;}
.point_charge_step ol > li .txt {padding-left: 10px;font-size: 12px;color: #bab9b9;}
.point_charge_step ol > li .line {position: relative;display: block;width: 100%;margin: 5px 0;border:1px #bab9b9 dashed;}
.point_charge_step ol > li .line:after {content:"";display: block;position: absolute;top: -4px;left:-1px;z-index: 40;width: 8px;height: 8px;background: #bab9b9;border-radius: 50px;}

.point_charge_step ol > li.on .tit {color: #ff5852;}
.point_charge_step ol > li.on .txt {color: #575757;}
.point_charge_step ol > li.on .line {border-color: #ff5852;}
.point_charge_step ol > li.on .line:after {background: #ff5852;}

.chargr_info {clear: both;position: relative;width: 100%;}
.chargr_info:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
.chargr_info dl {position: relative;float: left;width: 50%;padding-left: 106px;margin-bottom: 75px;line-height: 1.5;}
.chargr_info dl dt {margin-bottom: 12px;font-size: 22px;color: #353636;font-weight: 500;}
.chargr_info dl dd {font-size: 14px;color: #575757;line-height: 1.8;}
.chargr_info dl.info3 {clear: both;float: none;width: 100%;}
.chargr_info dl.info1 {background: url(/wp-content/themes/masonry/images/ico_charge1.png) no-repeat 0 0;}
.chargr_info dl.info2 {background: url(/wp-content/themes/masonry/images/ico_charge2.png) no-repeat 0 0;}
.chargr_info dl.info3 {background: url(/wp-content/themes/masonry/images/ico_charge3.png) no-repeat 0 0;}

/* 161205 추가 */
.prd_result_top {position: relative;text-align: center;font-size: 22px;}
.prd_result_top p.txt1 {margin: 30px 0 10px 0;}
.prd_result_top p.txt2 {font-size: 13px;color: #919090;line-height: 1.7;}
.prd_result_top p.txt_box {padding: 22px 0;margin-top: 30px;width: 100%;display: inline-block;font-size: 13px;background: #f5f4f4;line-height: 1.4;}

/* 이용안내 */
.use_guide_wrap {padding-bottom: 110px;background: #fff;}
.use_guide_wrap .guide_top {width: 100%;height: 410px;padding:110px 0 0 415px;margin-bottom: 40px;background: #fe605a url(/wp-content/themes/masonry/images/use_guide_top_bg.png) no-repeat 95px 100px;color: #fff;font-weight: 300;}
.use_guide_wrap .guide_top .txt1 {font-size: 38px;margin-bottom: 10px;}
.use_guide_wrap .guide_top .txt1 > span {font-size: 28px;}
.use_guide_wrap .guide_top .txt2 {font-size: 28px;font-weight: 100;line-height: 1.5;}

.use_guide_wrap .txtbox {margin: 0 35px;}
.use_guide_wrap .txtbox .tb1 {padding: 20px 0 20px 115px;margin-bottom: 66px;background: url(/wp-content/themes/masonry/images/ico_gift_bk.png) no-repeat 10px center;}
.use_guide_wrap .txtbox .tb1 dt {font-size: 22px;margin-bottom: 5px;}
.use_guide_wrap .txtbox .tb1 dd {font-size: 14px;color: #787878;line-height: 1.7;}

.use_guide_wrap .txtbox .tb2 {clear: both;padding: 0px 0 0px 115px;margin-bottom: 100px;background: #fff url(/wp-content/themes/masonry/images/ico_building.png) no-repeat 5px 0;}
.use_guide_wrap .txtbox .tb2 dt {font-size: 22px;margin-bottom: 5px;}
.use_guide_wrap .txtbox .tb2 dd {font-size: 14px;color: #787878;line-height: 1.7;}

/* 헤택 안내 */
.benefit_wrap {padding-bottom: 110px;background: #fff;}
.benefit_wrap .benefit_top {width: 100%;height: 344px;padding:90px 0 0 490px;margin-bottom: 80px;background: #66d8df url(/wp-content/themes/masonry/images/benefit_top_bg.png) no-repeat 48px bottom;color: #fff;font-weight: 300;}
.benefit_wrap .benefit_top .txt1 {font-size: 38px;margin-bottom: 10px;}
.benefit_wrap .benefit_top .txt2 {font-size: 28px;font-weight: 100;line-height: 1.5;}

.benefit_wrap .txtbox {margin: 0 35px;}
.benefit_wrap .txtbox .tb1 {clear: both;padding: 0px 0 0px 115px;margin:0 0 100px 0;background: #fff url(/wp-content/themes/masonry/images/ico_gift_pt_bk.png) no-repeat 5px 0;}
.benefit_wrap .txtbox .tb1 dt {font-size: 22px;margin-bottom: 5px;}
.benefit_wrap .txtbox .tb1 dd {font-size: 14px;color: #787878;line-height: 1.7;}

.benefit_wrap .txtbox .tb2 {clear: both;min-height:110px;padding: 10px 0 0px 115px;margin-bottom: 100px;background: #fff url(/wp-content/themes/masonry/images/ico_card_pt.png) no-repeat 5px 0;}
.benefit_wrap .txtbox .tb2 dt {font-size: 22px;margin-bottom: 5px;}
.benefit_wrap .txtbox .tb2 dd {font-size: 14px;color: #787878;line-height: 1.7;}