/*
Theme Name: R.membership
Theme URI: http://vs.academyx.co/
Author: academyx
Author URI: http://vs.academyx.co/
Description: Our Masonry theme is based on the popular and efficient grid library, suitable for creatives, photographers or bloggers. 
Although its nice interface and features make it an ideal WordPress theme for almost anything, Masonry has been optimized for all 
devices thanks to our latest responsive, mobile-first design techniques.
Version: 1.1.2
License: GNU General Public License v2 or higher
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: masonry
Tags: gray, white, light, dark, left-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, responsive-layout

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

*/

/* =Table of Contents
-------------------------------------------------------------- */

/* 
    01. CSS Reset (Normalize)
    02. Theme Base
    03. Clearfix
    04. Global margins and paddings
    05. Text-level semantics
    06. Headings
    07. Forms
    08. Buttons
    09. Tables
    10. Links
    11. Header area
    12. Layout
    13. Menus
    14. Icons (separate folder)
    15. Accessibility
    16. Embedded content
    17. WordPress core styles
    18. Widgets
    19. Content
    20. Asides
    21. Comments
    22. Infinite scroll (Jetpack plugin)
    23. Footer
    24. Responsive design
    25. Print styles
*/


/* =01. normalize.css v3.0.1
-------------------------------------------------------------- */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */


.hidetitle header.entry-header{display:none !important;}

#select_option_list.hide{display:none;}
#select_option_list {margin-top:10px; border-top:1px solid #cccccc;position:relative;}
#select_option_list li{padding:10px;border-bottom:1px solid #efefef;font-size:12px;position:relative;}
#select_option_list li .fa-times{position:absolute;right:5px;top:12px;}
#select_option_list li .option_total_price{position:absolute;right:25px;top:10px;}
#select_option_list li .option_total_stepper{position:absolute;right:150px;top:8px;}
.stepper{border:1px solid #cccccc;padding:2px;font-size:12px;height:20px;}
#order_total_price {
	font-family: tahoma !important;
	color:#fe605a;
	font-size:1.4em;
}

.point {
	font-family: tahoma !important;
	font-weight:bold;
}
.number_1{color:#0033ff}
.number_2{color:#ff0033}
.number_3{color:#ff0033}
.number_4{color:#0033ff}

.state_0{color:#ff0033}
.state_1{color:#333333}
.state_2{color:#0033ff}
.state_3{color:#0033ff}

.hide{display:none;}

table td.title{text-align:left !important;}